/*
body {
    background-color: white;
    cursor: help;
    
    
    
    background-image: url("giphy.gif");
    height: 100%;
    padding: 0;

    background-repeat: repeat;
    background-size: cover;
    
}
*/


/* TYPOGRAPHY


font-family: 'Roboto', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'VT323', monospace;

*/


h1 {
    color: white;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    font-size: 10vw;
/*      font-size: 3rem;*/
  text-transform: uppercase;
}



/* background video */

body {
  margin: 0;
  background: #000; 
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('whitenoiseinv.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}

#polina { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: rgba(0,0,0,0);
  color: white;
  padding: 0.5rem;
  width: 33%;
  margin:2rem;
  float: right;
  font-size: 1.2rem;
}

#polina button { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
}
#polina button:hover { 
   background: rgba(0,0,0,0);
}

/*
a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background; 
}
a:hover{
  background:rgba(0,0,0,0.9);
}
*/
@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url(whitenoiseinv.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}






/* Navigation bar */



/* Add background color to top navigation */
.nav {
    background-color: 0,0,0,0;
    position: fixed;
    list-style-type: none;
    text-decoration: none;
    overflow: hidden;
    text-align: left;
    font-family: 'Archivo Black', sans-serif;
/*    margin-top: 30px;*/

/*
    display: flex;
    flex-direction: column;
    justify-content: center;
*/
    
}

/* Style links inside navigation bar */
.nav ul a {
/*    float: left;*/
/*    display: block;*/
    color: #fff;
    text-align: left;
/*    padding: 14px 16px;*/
    font-size: 5vw;
    font-family: 'Archivo Black', sans-serif;
    list-style-type: none;
    text-decoration: none;
    


}

/* Changing color of links on hover */
.nav a:hover {
    background-color: transparent;
    background:transparent;
    font-family: 'Archivo Black', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

/* Adding color to the active/current link */
.nav a.active {
    background-color: #4CAF50;
    color: white;
    list-style-type: none;
    text-decoration: none;
    
}



.alphabet {
    margin: 0;
    font-family: 'Electrolize', sans-serif;
    color: black;
}

ul {
    list-style-type: none;
/*    padding: 0;*/
/*    width: 25%;*/
    background-color: #ffffff  
     position: fixed;
/*    height: 100%;*/
    overflow: auto;
    font-family: 'Electrolize', sans-serif;
    color: #000;
}

li a {
    display: block;
    color: #000;
/*    padding: 8px 16px; */
    text-decoration: none;
    font-family: 'Electrolize', sans-serif;
}

li a.active {
    background-color: #000000;
    color: white;
    font-family: 'Electrolize', sans-serif;
}

li a:hover:not(.active) {
    background-color: 	transparent;
    font-family: 'Electrolize', sans-serif;
}
