h1 {    font-family: 'Archivo Black', sans-serif;}
h2 {    font-family: 'Archivo Black', sans-serif; text-align: right}
h3 {    font-family: 'Archivo Black', sans-serif;}
p  {    font-family: 'Archivo Black', sans-serif;}
body{	font-family: 'Archivo Black', sans-serif;
   		background-color: white;
    	margin: 0;
    	padding: 0;}



.images {
/*display: flex;
flex-direction: row;
justify-content: center;*/

    width: 100%;
    height: 150px;


    
    overflow: visible;
    white-space:nowrap;
    
}

#images .slide {
    display: inline-block;
    
}

#images .slide img {
    height: 883px;
}

.top-left {
    position: fixed;
    font-family: 'Archivo Black', sans-serif;
    color: white;
    font-size: 34px;
    top: 12px;
    left: 16px;
}

.bottom-left {
    position: fixed;
    font-family: 'Archivo Black', sans-serif;
    color: white;
    font-size: 34px;
    bottom: 20px;
    left: 16px;
}



