body {
background-color: white;
}

h1 {
font-family: 'Anton', sans-serif;
font-size: 70px;
text-decoration:  none;
color: black;
margin-top: 100px;
margin-left: 1%;
}

p {
font-family: 'Anton', sans-serif;
font-size: 40px;
text-decoration:  none;
color: black;
margin-top: 100px;
margin-left: 1%;
}

a {
font-family: 'Anton', sans-serif;
font-size: 50px;
text-decoration:  none;
margin-top: 100px;
margin-left: 1%;
}



img {
  position: relative;
  margin-right: 100px;
  margin-left: 100px;
  height: 500px;
  size: auto;
}


/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: blue;
}