body {
    background-color: darkslategrey;
}

h1  {
    color: whitesmoke;
    margin-left: center;
    margin-right: center;
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    font-size: 7vw;
    
}


p  {
    color: whitesmoke;
    margin-left: center;
    margin-right: center;
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    font-size: 10vw;
    display: inline;
    padding: 50px;

}


html {
  height: 100%;
  overflow: hidden;
}

body { 
  margin:0;
  padding:0;
    perspective: 1px;
    transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Anton', sans-serif;
}



/* Shake */




div {
        color: whitesmoke;
    margin-left: center;
    margin-right: center;
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    font-size: 2vw;
    display: inline;
    padding: 40px;
    
    display: none;
    
}
    
a:hover + div {
    display: inline-block;
}
    

