body {
background-color: black;
}

h1 {
font-family: 'Anton', sans-serif;
font-size: 70px;
text-decoration:  none;
color: white;
margin-top: 20px;
margin-left: 10px;
color: white;
}

p {
font-family: 'Anton', sans-serif;
font-size: 50px;
text-decoration:  none;
color: white;
margin-top: 20px;
margin-left: 10px;
color: white;
}




.typeface {
    position: relative;
    top: 10px;
    left: 10px;
}

.C {
    position: absolute;
    left: 50px;
    top: 50px;
}

#C1 {
  width: 200px;
  height: 50px;
  background: #A58CB6;
  margin-left: 1px;
  margin-top: 5px;
}
#C2 {
width: 50px;
  height: 200px;
  background: #A58CB6;
  margin-left: 1px;
  margin-top: 5px;
}
#C3 {
  width: 200px;
  height: 50px;
  background: #A58CB6;
  margin-left: 1px;
  margin-top: 5px;
}

.O {
    position: absolute;
    left: 50px;
    top: 50px;
}

#O1 {
  width: 200px;
  height: 50px;
  background: #A58CB6;
  margin-left: 250px;
  margin-top: 5px;
}
#O2 {
width: 50px;
  height: 200px;
  background: #A58CB6;
  margin-left: 250px;
  margin-top: 5px;
}
#O3 {
  width: 200px;
  height: 50px;
  background: #A58CB6;
  margin-left: 250px;
  margin-top: 5px;
}
#O4 {
  width: 50px;
  height: 200px;
  background: #A58CB6;
  margin-left: 400px;
  margin-top: 0px;
  position: relative;
  top: -255px;
}

.M {
    position: absolute;
    left: 50px;
    top: 50px;
}

#M1 {
  width: 245px;
  height: 50px;
  background: #A58CB6;
  position: relative;
  left: 255px;
  margin-left: 250px;
  margin-top: 5px;
}
#M2 {
  width: 50px;
  height: 250px;
  background: #A58CB6;
  position: relative;
  left: 255px;
  margin-left: 250px;
  margin-top: 5px;
}
#M3 {
  width: 50px;
  height: 250px;
  background: #A58CB6;
  position: relative;
  top: -250px;
  left: 400px;
  margin-left: 300px;
  margin-top: 0px;
}
#M4 {
  width: 50px;
  height: -250px;
  background: #A58CB6;
  position: relative;
  top: 250px;
  left: 200px;
  margin-left: 300px;
  margin-top: 0px;
}











.clipPolygon {
fill: white;

/*Chrome,Safari*/
-webkit-clip-path: polygon(469px 206px,629px 383px,375px 211px,623px 50px);


/*Firefox*/
clip-path: url("#clipPolygon");
}


