
body {
    background-color: lightblue;
}

h1 {
    color: black;
    margin-left: 600px;
    margin-right: 600px;
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    font-size: 110px;
}

p {
    color: white;
    margin-left: center;
    margin-right: center;
    font-family: 'Archivo Black', sans-serif;
    text-align: right;
    font-size: 5vw;
    text-decoration: none;

    
}


p:hover {
    text-shadow: 3px 6px 2px rgba(0, 0, 0, .3);
}

      
